.redesign-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.3rem 0;
}

.redesign-btn {
  border: none;
  padding: 9px 15px;
  font-size: .9rem;
  font-weight: 600;
  background: #003A5C;
  color: #fff;
}

.redesign-btn:hover {
  background: #fff;
  color: #003A5C;
  border: 2px solid #003A5C;
  padding: 7px 13px;
}

@media (max-width: 980px) {
  .redesign-btn {
    padding: 6px 10px;
    font-size: .8rem;
  }
  .redesign-btn:hover {
    padding: 4px 8px;
  }
}

@media (max-width: 545px) {
  .redesign-btn-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redesign-btn-container a:nth-child(2n+1) {
    margin-right: 1rem;
  }
  .redesign-btn-container a:first-child,
  .redesign-btn-container a:nth-child(3n+2) {
    margin-bottom: 1rem;
  }
  .redesign-btn-container button {
    width: 155px;
  }
  .redesign-btn {
    font-size: .7rem;
  }
}

@media (max-width: 414px) {
  .redesign-btn-container button {
    width: 131px;
  }
}

@media (max-width: 325px) {
  .redesign-btn-container a:nth-child(2n+1) {
    margin-right: .6rem;
  }
  .redesign-btn-container a:first-child,
  .redesign-btn-container a:nth-child(3n+2) {
    margin-bottom: .6rem;
  }
}

.jir-location {
  margin-top: 2.5rem !important;
}

.countries hr {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #CCC;
  margin-bottom: 15px;
}

.countries h3 {
  font-size: 1.7rem !important;
  margin-top: 13px !important;
}

.dist-flag {
  height: 60px;
  margin-left: 8px;
  border: 1px solid #CCC;
}

.countries a {
  font-weight: 600;
  margin-left: 7px;
}

.countries a p {
  color: #406B85 !important;
}

.countries a p:hover {
  color: #5f93b2 !important;
  text-decoration: underline;
}

.countries p {
  font-size: .9rem;
}

.fa-laptop {
  margin-left: -2px;
}

.countries {
  border: 1px solid #CCC;
  width: 665px;
  height: 330px;
  margin: 1rem 0;
  padding: 10px;
  background: #fff;
}

.countries-container {
  margin: 0 auto;
}

.jir-logo {
  margin-bottom: -3px;
  margin-top: 3px;
}

.dist-logo-container {
  height: 50px;
}

.dist-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.location {
  width: 50%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.contact {
  width: 46%;
  margin-top: -3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.location p {
  font-weight: 600;
  font-size: .95rem;
  margin: 0;
}

.contact p {
  display: inline-block;
  margin: 0;
}

.fa-phone {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.vert-sep {
  height: 242px;
  width: 1px;
  background: #CCC;
  margin-top: -3rem;
}

.card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* EDGE */
@supports (-ms-ime-align: auto) {
  .dist-content,
  .location,
  .card-head,
  .contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dist-content,
  .location,
  .card-head,
  .contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 981px) {
  .countries {
    width: 504px;
    height: auto;
  }
  .countries h3 {
    font-size: 1.45rem !important;
  }
  .dist-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vert-sep {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .location {
    width: 100%;
  }
  .contact {
    width: 100%;
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    font-size: .76rem !important;
  }
  .contact div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 769px) {
  .countries {
    width: calc(90vw - 20px);
  }
  .dist-flag {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .countries {
    width: calc(83vw - 20px);
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .countries p,
  .countries span {
    font-size: .7rem !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .countries {
    width: 504px;
    height: auto;
  }
  .countries h3 {
    font-size: 1.45rem !important;
  }
  .dist-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vert-sep {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .location {
    width: 100%;
  }
  .contact {
    width: 100%;
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .contact div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    margin-top: 10px;
  }
}

li {
  list-style: none;
}

#select-drop {
  margin-top: 2rem;
}

.search-container {
  width: 50%;
  margin: 0 auto;
}

.faq-section-container,
.specific-application-faq {
  background: #d4edfc;
  width: 50%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.faq-section-container h2,
.specific-application-faq h2 {
  background: #009fe3;
  color: #fff;
  padding: 6px 10px;
}

.faq-section-container a,
.specific-application-faq a {
  color: #406B85;
  text-decoration: none;
}

.faq-section-container a:hover,
.specific-application-faq a:hover {
  color: #719fba;
  text-decoration: underline;
}

.info {
  padding: 0px 10px;
  border-bottom: 3px solid #fff;
  line-height: 1.45em;
}

.info ul {
  list-style: none;
  padding-left: 20px;
}

.info li {
  margin-bottom: .7rem;
}

.fa-map-marker-alt {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -20px;
  font-size: .95rem;
}

.info p {
  font-size: 1rem;
}

.no-result-text,
.spec-app-no-result,
.spec-no-result {
  padding-left: 10px;
  padding-bottom: 10px;
  display: none;
}

.spec-app-header {
  display: none;
}

.fa-map-marker-alt {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #009fe3;
}

.faq-list-space {
  height: 1px;
  width: 1.07rem;
  display: inline-block;
}

.specific-application-faq {
  margin-top: 1.5rem;
}

.specific-application-faq h2 {
  margin: 0;
}

.faq-sub-container h2 {
  background: #ed7004;
  font-size: 1.3rem;
  padding: 2px 10px;
}

.faq-sub-container:first-of-type h2 {
  border-top: none;
}

.redesign-btn-container {
  display: inline;
  margin: 0;
}

.redesign-btn {
  padding: 6px 10px;
  cursor: pointer;
}

.redesign-btn:hover {
  padding: 4px 8px;
}

.faq-sub-container .info:last-child {
  border-bottom: 8px solid #fff;
}

.delivery-costs,
.faq-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-costs p:first-child {
  width: 250px;
}

.faq-contact-info p:first-child,
.faq-contact-info > i:first-child {
  margin-right: 2rem;
}

.fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.info td {
  height: 40px;
  width: 250px;
  vertical-align: middle;
}

.faq-discount td {
  width: 150px;
}

.faq-discount th {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */