.redesign-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.3rem 0;
}

.redesign-btn {
  border: none;
  padding: 9px 15px;
  font-size: .9rem;
  font-weight: 600;
  background: #003A5C;
  color: #fff;
}

.redesign-btn:hover {
  background: #fff;
  color: #003A5C;
  border: 2px solid #003A5C;
  padding: 7px 13px;
}

@media (max-width: 980px) {
  .redesign-btn {
    padding: 6px 10px;
    font-size: .8rem;
  }
  .redesign-btn:hover {
    padding: 4px 8px;
  }
}

@media (max-width: 545px) {
  .redesign-btn-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redesign-btn-container a:nth-child(2n+1) {
    margin-right: 1rem;
  }
  .redesign-btn-container a:first-child,
  .redesign-btn-container a:nth-child(3n+2) {
    margin-bottom: 1rem;
  }
  .redesign-btn-container button {
    width: 155px;
  }
  .redesign-btn {
    font-size: .7rem;
  }
}

@media (max-width: 414px) {
  .redesign-btn-container button {
    width: 131px;
  }
}

@media (max-width: 325px) {
  .redesign-btn-container a:nth-child(2n+1) {
    margin-right: .6rem;
  }
  .redesign-btn-container a:first-child,
  .redesign-btn-container a:nth-child(3n+2) {
    margin-bottom: .6rem;
  }
}

li {
  list-style: none;
}

#select-drop {
  margin-top: 2rem;
}

.search-container {
  width: 50%;
  margin: 0 auto;
}

.faq-section-container,
.specific-application-faq {
  background: #d4edfc;
  width: 50%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.faq-section-container h2,
.specific-application-faq h2 {
  background: #009fe3;
  color: #fff;
  padding: 6px 10px;
}

.faq-section-container a,
.specific-application-faq a {
  color: #406B85;
  text-decoration: none;
}

.faq-section-container a:hover,
.specific-application-faq a:hover {
  color: #719fba;
  text-decoration: underline;
}

.info {
  padding: 0px 10px;
  border-bottom: 3px solid #fff;
  line-height: 1.45em;
}

.info ul {
  list-style: none;
  padding-left: 20px;
}

.info li {
  margin-bottom: .7rem;
}

.fa-map-marker-alt {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -20px;
  font-size: .95rem;
}

.info p {
  font-size: 1rem;
}

.no-result-text,
.spec-app-no-result {
  padding-left: 10px;
  padding-bottom: 10px;
  display: none;
}

.fa-map-marker-alt {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #009fe3;
}

.faq-list-space {
  height: 1px;
  width: 1.07rem;
  display: inline-block;
}

.specific-application-faq {
  margin-top: 1.5rem;
}

.specific-application-faq h2 {
  margin: 0;
}

.faq-sub-container h2 {
  background: #ed7004;
  font-size: 1.3rem;
  padding: 2px 10px;
}

.faq-sub-container:first-of-type h2 {
  border-top: none;
}

.redesign-btn-container {
  display: inline;
  margin: 0;
}

.redesign-btn {
  padding: 6px 10px;
  cursor: pointer;
}

.redesign-btn:hover {
  padding: 4px 8px;
}

.faq-sub-container .info:last-child {
  border-bottom: 8px solid #fff;
}
/*# sourceMappingURL=style.css.map */